* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
  font-size: 16px;
}

a {
  color: #00B7FF;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.35s;
}

a:hover {
  color: #0094cf;
}

img {
  width: 100%;
}

figure {
  width: 20%;
}