<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <br>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <br><br>
    <div>
      <h3>PELÍCULAS</h3><br>
      <a href="/movies">Lista de todas las películas</a><br><br>
      <a href="/movies/new">Películas Estreno</a><br><br>
      <a href="/movies/recommended">Películas Recomendadas</a>
    </div>
    <br><br>
    <div>
      <h3>GÉNEROS</h3><br>
      <a href="/genres">Lista de todos las géneros</a>
    </div>
    <br><br>
    <div>
      <h3>ACTORES</h3><br>
      <a href="/actors">Lista de todos los actores</a>
    </div>
  </body>
</html>
